body {
	font-family: serif;
	line-height: 1.5;
	padding: 0;

}
main {
	padding-inline: 15%;
}
footer {
	padding-inline: 15%;
	margin: 0;
}
.about_website {
	background-color: lemonchiffon;
	padding-inline: 5%;
	padding-block: 1px;
	border: 10px solid yellow;
	border-image: repeating-linear-gradient(-45deg, black, black 20px, yellow 20px, yellow 40px) 10;
}
